.appbar__wrapper {
  padding: 0 64px;
  background-color: var(--inputs);
}

.appbar {
  display: flex;
  align-items: center;
  gap: 450px;
}

.nav__wrapper {
  padding: 24px 0;
}

.logo {
  padding: 24px 0;
}
